@media only screen and (max-width: 768px) {
    .header{
        background-color: #556270;
        color: #ffffff;
        font-size: 12px;
        top: 0px;
    }
    .header__navbar ul li a{
        text-decoration: none;
        color: #ffffff;
    }
    .banner{
        background-image: none;
        border-bottom: #556270 1px solid;
        height: 150px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .banner .banner--content{
        color: black;
        font-size: 13px;
        margin-top: 60px;
    }
    .banner--content p{
        color: rgb(112, 112, 231);
    }
    .list_image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .footer--content .footer--text{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}